#header {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: white;
  text-align: left;
  padding-left: 70px;
  height: 70px;
  background-image: linear-gradient(to right, rgb(86, 114, 241) , rgb(255, 255, 255));
  
        


}

#rfa {

float:right;
padding-right: 50px;

}


#Title {

    float:right;
    padding-right: 50px;
    
  }

  #back {

    float:left;
    padding-left: 167px;
    border: 20px;

  }

